body{
  background-image:url(https://media2.giphy.com/media/7LsYKNn60KhUs/giphy.gif?cid=ecf05e474dfo7axoa1ximzaufphgjei79cm022njdzdyop3w&rid=giphy.gif&ct=g);
  background-size:cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  color:antiquewhite;
  text-shadow: 2px 2px black;
  
}


/* .list {
  display: grid;
} */



.highcharts-container{
  display: inline-block;
  /* max-width: 500px; */
}
.container{
  /* display: flex; */

}
.charts{
}
.barchart{
  text-shadow: none;
  background-color: black;
  
}
.piechart{
  text-shadow: none;
}
.user-card{
  /* width: auto; */
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  padding-top: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
